page-login {
    ion-item {
        text-align:center;
    }
    .divLoginButton{
        text-align:center;
        margin-top: 20px;
    }

    // ion-input{
    //     border:1px solid lightgray;
    // }
}
